<HTML>
  <body bgcolor='cyan'>

      <form method='post'>
         <h3>Employee Information</h3>
         Employee No<br>
         <input type = "number" name = "empno" /></br>

         Employee Name<br>
         <input type = "text" name = "ename" /></br>


         Designation<br>
         <input type = "text" name = "desig" /><br>

         Salary<br>
         <input type = "number" name = "salary" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>

   </body>
</html>

